.movie-container {
  position: relative;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: rgba(63, 81, 181);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  .star-container {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    mat-icon {
      cursor: pointer;
      font-size: 28px;
      color: #ffd700;
      margin-left: 10px;
      transition: transform 0.3s, color 0.3s;
      &:hover {
        transform: scale(1.2);
        color: #f0c040;
      }
    }
  }

  .movie-image {
    flex: 0 0 40%;
    margin-right: 20px;
    img {
      width: 100%;
      height: auto;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }
  }

  .movie-details {
    flex: 1;
    max-width: 60%;
    h2 {
      font-size: 32px;
      margin: 15px;
    }

    p {
      margin: 12px;
      font-size: 20px;
      line-height: 1.6;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        margin: 8px;
        font-size: 20px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    .movie-image {
      flex: 1;
      margin-right: 0;
      margin-bottom: 20px;
    }
    .movie-details {
      flex: 1;
      max-width: 100%;
      text-align: center;
    }
  }
}

.custom-button {
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, box-shadow 0.3s;

  background-color: #007bff;
  color: #ffffff;
  font-size: 16px;

  &:hover {
    background-color: #0056b3;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
  }
}

.mat-button {
  color: red;
  font-size: 16px;
  transition: color 0.3s;
  &:hover {
    color: darkred;
  }
}
